/* Efek transisi dan kustomisasi sederhana */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Transisi kehalusan gambar menu */
.menu-item img {
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover img {
    transform: scale(1.05);
}

/* Smooth Scrolling untuk navigasi */
html {
    scroll-behavior: smooth;
}